<div class="userListTable">
  <p-table
    [value]="users"
    styleClass="p-datatable-gridlines"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="caption"> Lista de usuários </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>E-mail</th>
        <th>Data de nascimento</th>
        <th>Nível escolar</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-users>
      <tr>
        <td>{{ users.name }}</td>
        <td>{{ users.surname }}</td>
        <td>{{ users.email }}</td>
        <td>
          {{
            users.birthDate.getDate() +
              "-" +
              (users.birthDate.getMonth() + 1) +
              "-" +
              users.birthDate.getFullYear()
          }}
        </td>
        <td>{{ getEnumName(users.schoolingLevel) }}</td>
        <td class="actions">
          <button
            pButton
            pTooltip="Editar"
            pRipple
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded"
            tooltipPosition="top"
            (click)="editUser(users.id)"
          ></button>

          <button
            (click)="confirmDelete(users.id)"
            pTooltip="Excluir"
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <button
        pButton
        pRipple
        type="button"
        label="Adicionar usuário"
        (click)="adicionarUsuario()"
        class="p-button-outlined"
      ></button>
    </ng-template>
  </p-table>
  <p-toast></p-toast>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
  ></p-confirmDialog>
</div>
